.div-block {
  height: 1px;
  max-width: 167px;
  margin-top: 90px;
  margin-bottom: 40px;
  background-color: rgba(27, 33, 38, 0.15);
  color: #1b2126;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 75px;
  line-height: 85px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.paragraph-2 {
  display: block;
  max-width: 566px;
  margin: 30px auto 60px;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.nav-link {
  padding-top: 42px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.nav-link:hover {
  border-bottom: 2px solid #fff;
}

.nav-button {
  margin-top: 30px;
  margin-left: 15px;
  padding: 12px 24px;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.nav-button:hover {
  background-color: #fff;
  color: #1e71ff;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16.666666666666668%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.footer-column.first-column {
  margin-left: 0px;
}

.footer-column.last-column {
  margin-right: 0px;
}

.link {
  display: block;
  color: rgba(43, 53, 62, 0.7);
  font-size: 13px;
  text-decoration: none;
}

.link:hover {
  color: #1e71ff;
}

.image {
  margin-top: 40px;
}

.section {
  padding: 90px 60px;
}

.section.footer-section {
  padding-bottom: 30px;
}

.section.cta-section {
  background-color: rgba(30, 113, 255, 0.1);
}

.cta-right {
  max-width: 467px;
  min-width: 400px;
  margin-left: 60px;
}

.paragraph-3 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.text-block-2 {
  margin-top: 18px;
  font-size: 15px;
}

.right-block {
  margin-left: 0px;
}

.paragraph {
  margin-bottom: 60px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.button {
  padding: 16px 48px;
  border-radius: 50px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #1e71ff;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.button.blue-botton {
  background-color: #1e71ff;
  color: #fff;
}

.cta-left {
  margin-left: -20vw;
}

.ghost-button {
  margin-left: 30px;
  padding: 16px 48px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.ghost-button:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.ghost-button.blue-ghost-button {
  border-color: #1e71ff;
  color: #1e71ff;
}

.navbar {
  padding-right: 60px;
  padding-left: 60px;
  border-bottom: 0px none transparent;
  background-color: #1e71ff;
}

.container {
  display: block;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0px none transparent;
}

.container.center {
  text-align: center;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexbox.stars-flexbox {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flexbox.footer {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.left-block {
  min-width: 400px;
  margin-right: 60px;
  margin-bottom: 100px;
  margin-left: 0px;
  padding-right: 0px;
}

.text-block-3 {
  margin-top: 180px;
  font-size: 13px;
}

.hero-section {
  width: auto;
  height: auto;
  min-height: 100vh;
  padding: 20vh 60px;
  background-color: #1e71ff;
}

.text-block {
  max-width: 260px;
  margin-top: -3px;
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 60px;
    line-height: 75px;
  }

  .footer-column {
    width: auto;
    max-width: 130px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .footer-column.hide {
    display: none;
    overflow: visible;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cta-right {
    min-width: 340px;
  }

  .paragraph {
    font-size: 18px;
  }

  .button {
    padding: 12px 30px;
  }

  .ghost-button {
    padding: 12px 30px;
  }

  .flexbox.footer {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .left-block {
    min-width: 400px;
    margin-bottom: 40px;
  }

  .text-block-3 {
    margin-top: 60px;
  }

  .hero-section {
    min-height: auto;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .div-block {
    margin-top: 30px;
  }

  .nav-link {
    display: block;
    padding: 20px 0px;
    border-bottom-style: none;
  }

  .nav-link:hover {
    border-bottom-style: none;
  }

  .nav-button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .section {
    padding: 30px;
  }

  .cta-right {
    max-width: 420px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .right-block {
    max-width: 500px;
  }

  .paragraph {
    margin-bottom: 40px;
  }

  .brand {
    padding-left: 0px;
  }

  .nav-menu {
    padding: 30px 60px;
    background-color: #2b353e;
    text-align: left;
  }

  .cta-left {
    max-width: 580px;
  }

  .flexbox.flexbox-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .menu-button {
    margin-top: 25px;
    padding: 12px;
    font-size: 30px;
  }

  .menu-button.w--open {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #2b353e;
  }

  .hero-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .icon {
    color: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 48px;
    line-height: 58px;
  }

  .paragraph-2 {
    font-size: 16px;
    line-height: 26px;
  }

  .link {
    font-size: 12px;
    line-height: 22px;
  }

  .section {
    overflow: hidden;
    padding: 30px;
  }

  .cta-right {
    min-width: auto;
  }

  .paragraph-3 {
    font-size: 16px;
    line-height: 26px;
  }

  .text-block-2 {
    font-size: 16px;
    line-height: 26px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .brand {
    padding-left: 0px;
  }

  .nav-menu {
    padding-right: 30px;
    padding-left: 30px;
  }

  .button {
    display: block;
    max-width: 260px;
  }

  .ghost-button {
    display: block;
    max-width: 260px;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }

  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .flexbox.stars-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-2 {
    max-width: 170%;
  }

  .left-block {
    min-width: auto;
    margin-right: 0px;
  }

  .hero-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .text-block {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 26px;
  }

  .heading-5 {
    font-size: 38px;
  }
}